<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<div>
    <img src="{{ userDetails.avatar.path }}" class="img-thumbnail" alt="{{ user.nickname }}">
    <h1>{{ userDetails.nickname }}</h1>
    <p>
        <strong>Nickname:</strong> {{ userDetails.nickname }} <br>
        <strong>Sex:</strong> {{ userDetails.sex }} <br>
        <strong>Type:</strong> {{ userDetails.account_type }} <br>
    </p>
    <div id="map" style="position: relative;width: -webkit-fill-available;height: 300px;border-radius: 5px;border: 2px solid var(--fh-pink);"></div>
</div>

<script>
    var map = L.map('map', {
        center: [{{ userDetails.location }}],
        zoom: 9,
        scrollWheelZoom: false,  // Schakel inzoomen via scrollwiel uit
        dragging: false  // Schakel slepen uit
    });

    map.zoomControl.remove(); // Verwijder de zoomknoppen

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    var circle = L.circle([{{ userDetails.location }}], {
        color: '#ff00ff',
        fillColor: '#ff00ff',
        fillOpacity: 0.25,
        radius: 10000
    }).addTo(map);
</script>