<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<div class="photo-gallery">
    {% for photo in photos %}
        <a class="fancybox" href="{{ photo.path }}" data-fancybox="gallery">
            <img class="img-thumbnail" src="{{ photo.path }}" alt="Afbeelding">
        </a>
        <form data-request="onDeletePhoto" data-request-data="photoId: {{ photo.id }}">
            <button type="submit" class="btn btn-danger">Verwijder</button>
        </form>
    {% endfor %}
</div>

<script>
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>